body{
    background-color: #20203d;
    margin: 0;
    border: 0;
    padding: 0;
}

header{
    background-color: #14142c;
    width: 100%;
    height: 150px;
    box-shadow: 1px 2px 6px;
    text-align: center;
    margin-bottom: 30px ;
}

h1{
    margin: 0;
    color:antiquewhite;
    padding: 50px;
}

section{
    display: flex;
    flex-wrap: wrap;
    background-color: #14142c;
    padding: 30px;
    color: antiquewhite;
    font-size: 18pt;
    width: 200px;
    height: 200px;
    text-align: center;
    justify-content: center;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 1px 3px 6px black ; 
}

section img{
    padding: 40px;
}

section:hover{
    cursor: pointer;
}

main{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.delete{
    text-align: center;
    width: 20px;
    height: 20px;
    margin-left: 100%;
    background-color: #750505;
    border: 0;
    border-radius: 50%;
}