<%# o head desse arquivo esta separado em um arquivo head.ejs, com isso, essa msm head pode ser usada em outros arquivos %>
<%- include('includes/head') %>

<body>
    <h1>
        ERRO 404
    </h1>
</body>
</html>