<%# o head desse arquivo esta separado em um arquivo head.ejs, com isso, essa msm head pode ser usada em outros arquivos %>
<%- include('includes/head') %>

<body>
    <h1>
        <%#isso é um comentario %>
        
        <%# mostra o titulo q esta contido no homecontroller %>
        <form action="/" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label for="">cliente</label>
            <input type="text" name="cliente" id="">
            <button type="button">submit</button>
        </form>
</body>
</html>