@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: antiquewhite;
    margin: 0;
    border: 0;
    padding: 0;
}

.conteiner{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    height: 150px;
    width: 100%;
    background-color: rgb(43, 55, 65);
}

.menu{
    position:absolute;
    display: flex;
    width: 90%;
    font-size: 18pt;
    color: antiquewhite;
    text-align: center;
    gap: 20%;
    margin-top: 110px;
    margin-left: 10%;
}

.menu:hover{
    cursor: pointer;
}

img{
    margin-top: 20%;
    padding: 20px;
}