<%# o head desse arquivo esta separado em um arquivo head.ejs, com isso, essa msm head pode ser usada em outros arquivos %>
<%- include('includes/head') %>

<body>
    <h1>
        <%#isso é um comentario %>
        
        <%# mostra o titulo q esta contido no homecontroller %>
        <%- titulo %> <br>
        <%= titulo %>

    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis impedit fuga porro vel explicabo eos, maxime soluta deleniti recusandae eveniet temporibus suscipit perferendis fugiat inventore, repellat et iure mollitia officiis.</p>
        <%# usa JS no EJS dentro da tag%>
    <p><% numeros.forEach(num => { %>
       <%= num %>
    <% }) %></p>
</body>
</html>