<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ola mundao</title>
</head>
<body>
    <h1>OLa mundao</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis impedit fuga porro vel explicabo eos, maxime soluta deleniti recusandae eveniet temporibus suscipit perferendis fugiat inventore, repellat et iure mollitia officiis.</p>
</body>
</html>